.words-wrapper b {
    position: none;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.words-wrapper b.active {
    opacity: 1;
    transform: translateY(0);
}

.words-wrapper b.hidden {
    transform: translateY(100%);
}

.rotated-svg {
    transform: rotate(180deg);
    transform-origin: center; /* เลือกจุดหมุนที่ต้องการ */
    display: block; /* ทำให้ SVG แสดงเป็นบล็อค */
    width: 100%; /* ปรับขนาดตามต้องการ */
}
